.center{
    width: 100%; 
    height: 92vh; 
    display: flex; 
    justify-content: center; 
    align-items: center
  }
  
  .container{
    width:551px; 
    height:278px; 
    border:2px solid #6E93B3; 
    padding:30px 79px 19px;
  }
  
  
  .label{padding:5px 5px; 
    display: inline-block; 
    width: 47.5%; 
    border: 2px solid #487CAA; 
    background: #5B9BD5; 
    color: white; 
    font-size: 18px;
    text-align: center;
  }
  
  .input{
    width:100%; 
    display: inline-block; 
    margin-left: 5%; 
    border: 2px solid #92ADC6; 
    height: 100%; 
    padding: 0 10px; 
    font-size: 18px;
  }

  .gender{
    width:100%; 
    margin-left: 5%; 
    border: 2px solid white ;
    height: 100%; 
    padding: 0 10px; 
    font-size: 18px;
    align-items: center;
    display: flex;
  }

  .check{
    width: 25%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  
  .border_box{
    margin-top: 20px; 
    display: flex; 
    height: 40px
  }
  
  .login-btn{
    text-align: center; 
    margin: 40px
  }
  
  button{
    background: #6ACE63; 
    padding: 18px 40px; 
    border: 2px solid #6ace63; 
    border-radius: 10px;
    color: white; font-size: 18px; 
    cursor: pointer
  }
  
  button:hover{
    background: #5eb558;
  }

  
